{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PMGDTS5');</script>
<!-- End Google Tag Manager -->
  <meta charset="UTF-8">
  <title>Вентилируемые фасады</title>
  <meta name="description" content="">
  <meta name="author" content="Serhii Mykulyn">
  <meta name="mailru-domain" content="hgbcuQpWW4WUMLLf" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- <link rel="icon" type="image/png" href="./img/favicon.ico"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
  <link rel="stylesheet" href="{% static 'main/css/main.min.css' %}">

  <meta name="theme-color" content="#000">
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PMGDTS5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <div class="hero">
    <div class="hero__waves-left">
        <img src="{% static 'main/img/hero-wave-left.svg' %}" alt="">
    </div>
    <div class="header__fixed">
    <header class="header">
      <div class="container">
        <div class="header__top">
          <a href="#" class="logo">
            <picture>
              <source srcset="{% static 'main/img/logo-white.svg' %}" media="(max-width: 768px)">
                <img src="{% static 'main/img/logo.svg' %}" alt="">
            </picture>
          </a>
          <div class="header__contacts">
            <div class="header__contacts-phone">
              <span>КРУГЛОСУТОЧНО</span>
              <a href="tel:+74955102893" class="header__contacts-number">+7 (495) 510-28-93</a>
            </div>
            <button class="header__contacts-callback call-bt">ЗАКАЗАТЬ ЗВОНОК</button>
          </div>
        </div>
      </div>
    </header>
    </div>
    <div class="hero__waves-right">
        <img src="{% static 'main/img/hero-wave-right.svg' %}" alt="">
    </div>
    <div class="hero__container">
      <div class="hero__container-top">
        <div class="hero__container-left">
          <!-- <div class="hero__nav navigation">-->
   <!--          <nav class="navigation__items">-->
   <!--            <a href="#fasad-system" class="scroll-link navigation__item active">Виды фасадов</a>-->
   <!--            <a href="#mounting" class="scroll-link navigation__item">Монтаж</a>-->
   <!--            <a href="#contacts" class="scroll-link navigation__item">Контакты</a>-->
   <!--          </nav>-->
   <!--          <button class="navigation__button"></button>-->
   <!--        </div> -->
           <div class="hero__text">
             <strong>PROFФАСАД оказывает полный спектр фасадных услуг.</strong> Мы сами <strong>проектируем</strong>, сами <strong>производим</strong> подсистемы и некоторые виды материалов для их облицовки, имеем собственное <strong>монтажное подразделение</strong> и отдел логистики. <strong>Комплексный подход</strong> помогает нашим клиентам избежать нестыковок на разных этапах фасадного производства.
           </div>
         </div>
         <h1 class="hero__title">вентилируемые <br> фасадные системы</h1>
      </div>
     
      <div class="hero__container-bottom">
        <div class="hero__features">
          <div class="hero__feature">
            <div class="hero__feature-icon">
                <img src="{% static '/main/img/features/features-one.png' %}" alt="">
            </div>
            <div class="hero__feature-title">Бесплатный выезд<br> инженера<br> в день звонка</div>
          </div>
          <div class="hero__feature">
            <div class="hero__feature-icon">
                <img src="{% static 'main/img/features/features-two.png' %}" alt="">
            </div>
            <div class="hero__feature-title">Прямые поставки<br> материалов<br> из Германии</div>
          </div>
          <div class="hero__feature">
            <div class="hero__feature-icon">
                <img src="{% static 'main/img/features/features-three.png' %}" alt="">
            </div>
            <div class="hero__feature-title">30% скидка<br> при заключении<br> до 1 отктября</div>
          </div>
      </div>
      </div>

    </div>



  </div>

  <section class="system container">
    <h2 class="system__title">Глубокая специализация по типам работ</h2>
    <div class="system__category-head"> Категории</div>
    <div class="system__category-wrapper">
      <div class="system__category">
        <div class="system__category-item active">КЛИНКЕР И ДЕКОРАТИВНЫЙ КАМЕНЬ</div>
        <div class="system__category-item">КЕРАМОГРАНИТ (СКРЫТОЕ КРЕПЛЕНИЕ)</div>
        <div class="system__category-item">КЕРАМОГРАНИТ (ВИДИМОЕ КРЕПЛЕНИЕ)</div>
        <div class="system__category-item">ТЕРРАКОТА</div>
        <div class="system__category-item">НАТУРАЛЬНЫЙ КАМЕНЬ</div>
        <div class="system__category-item">ЛИСТОВЫЕ МАТЕРИАЛЫ</div>
        <div class="system__category-item">HPL ПАНЕЛИ</div>
        <div class="system__category-item">Вентилируемые фасады из композитных панелей</div>
        <div class="system__category-item">Фасады из дерева</div>
        <div class="system__category-item">фиброцементные панели</div>

        <!-- <div class="system__category-item">КАССЕТЫ ИЗ КОМПОЗИТА И СТАЛИ </div>
        <div class="system__category-item">АЛЮМИНИЕВЫЕ ФАСАДНЫЕ СИСТЕМЫ</div>
        <div class="system__category-item">ДОБОРНЫЕ ЭЛЕМЕНТЫ</div>
        <div class="system__category-item">КОМПОЗИТНЫЕ КАССЕТЫ</div>
        <div class="system__category-item">МЕЖЭТАЖНАЯ СИСТЕМА КРЕПЛЕНИЯ</div> -->
      </div>
    </div>

    <div class="system__content">
      <button class="system__slide-prev"></button>
      <button class="system__slide-next"></button>
      <div class="system__slider">

        <div class="system__slide">
          <h3 class="system__slide-title">
            КЛИНКЕР И ДЕКОРАТИВНЫЙ КАМЕНЬ
          </h3>
          <div class="system__slide-cont">
            <h4>РОНСОН-500 – СИСТЕМА НАВЕСНОГО ВЕНТИЛИРУЕМОГО ФАСАДА, ПРЕДНАЗНАЧЕННАЯ ДЛЯ КРЕПЛЕНИЯ КЛИНКЕРНОЙ ПЛИТКИ И ДЕКОРАТИВНОГО КАМНЯ БЕЗ КЛЕЯ И ЗАТИРКИ</h4>
            <div class="system__slide-grid">
              <div class="system__slide-grid-left">
                <span>Преимущества системы «РОНСОН-500» с облицовкой из КЛИНКЕРА РОНСОН:</span>
                <ul>
                  <li><strong>Долговечность.</strong> Осадки и атмосферная влага удаляются с поверхности фасада естественным образом, без малейшего вреда для элементов облицовки.</li>
                  <li><strong>Всепогодный монтаж.</strong> Отсутствие «мокрых» процессов позволяет монтировать КЛИНКЕР РОНСОН круглогодично, при любой температуре и влажности воздуха, поэтому сроки выполнения работ всегда соблюдены.</li>
                  <li><strong>Отсутствие высолов.</strong> Белёсые пятна образуются на поверхности стен из-за кристаллизации солей, которые содержатся в материале облицовки и строительных растворах. КЛИНКЕР РОНСОН изготавливается из глины, не имеющей в своем составе солей, и монтируется без затирки, поэтому проблема высолов для него неактуальна.</li>
                  <li><strong>Экологичность.</strong> КЛИНКЕР РОНСОН изготавливается с соблюдением всех требований к экологической безопасности и исключительно из натурального сырья, поэтому по степени экологичности он стоит в одном ряду с такими природными материалами как камень и дерево.</li>
                  <li><strong>Простота установки.</strong> Благодаря особой конфигурации декоративных элементов облицовки и продуманной до мелочей конструкции подсистемы процесс монтажа удалось сделать максимально простым, интуитивно понятным.</li>
                  <li><strong>Возможность демонтажа отдельных плиток.</strong> Отдельно взятые плитки легко снимаются и так же легко устанавливаются на место без демонтажа других элементов облицовки. Прокладка коммуникаций, крепление строительных лесов и замена поврежденных плиток больше не являются проблемой.</li>
                  <li><strong>Морозостойкость.</strong> Технология вертикальной вакуумной экструзии позволяет получать клинкер высокой плотности, без микротрещин и пустот, чем обусловлены его низкое водопоглощение (менее 2,4%) и высокая морозостойкость (более 150 циклов).</li>
                  <li><strong>Устойчивость к ультрафиолету.</strong> Натуральные компоненты, входящие в состав КЛИНКЕРА РОНСОН, не выгорают на солнце, поэтому даже через 50 лет фасад выглядит как новый.</li>
                  <li><strong>Огнестойкость. Сейсмостойкость</strong> В составе КЛИНКЕРА РОНСОН нет искусственных красителей, чем обусловлена его абсолютная негорючесть (группа материалов НГ). Высший класс пожарной безопасности (К0) имеет и система «РОНСОН-500». Кроме того, она успешно прошла испытания на сейсмостойкость, получив разрешение на применение в зонах с сейсмичностью вплоть до 9 баллов.</li>
                  <li><strong>Высотность.</strong> Высокая механическая прочность КЛИНКЕРА РОНСОН и надежность технических решений системы «РОНСОН-500» позволяют выполнять облицовку зданий высотой до 75 метров и выше.</li>
                  <li><strong>Эстетичность.</strong> Конструктивно заданные горизонтальные и вертикальные швы одной ширины дарят фасаду красивый четко очерченный рисунок идеальной кирпичной кладки. Богатство оттенков и фактур КЛИНКЕРА РОНСОН, а также возможность использования объемных декоративных элементов (карнизов, колонн, балюстрад и других) позволяют воплощать в жизнь архитектурные идеи любой сложности.</li>
                  <li><strong>Комфортная эксплуатация.</strong> Фасад из КЛИНКЕРА РОНСОН не нуждается в специальном уходе, сохраняя эстетичный внешний вид в течение многих десятилетий.</li>
                </ul>
              </div>
              <div class="system__slide-grid-right">
                <img src="{% static 'main/img/system_img/system1-01.jpg' %}" alt="">
                <img src="{% static 'main/img/system_img/system1-02.jpg' %}" alt="">
              </div>
            </div>
          </div>
        </div>

        <div class="system__slide">
          <h3 class="system__slide-title">
            КЕРАМОГРАНИТ (СКРЫТОЕ КРЕПЛЕНИЕ)
          </h3>
          <div class="system__slide-cont">
            <h4>Существует 2 способа крепления керамогранитных плит к подсистеме вентилируемого фасада: видимый и скрытый. Скрытый способ крепления керамогранита к направляющим предполагает дополнительную обработку плиты:</h4>
            <div class="system__slide-grid">
              <div class="system__slide-grid-left">
                <span></span>
                <ul>
                  <li>изготовление пропилов с верхнего и нижнего торцов плиты (профили или кляммеры скрытого крепления);</li>
                  <li>сверление не менее 4-х отверстий c тыльной стороны плиты для крепления анкеров типа KEIL на аграфы и горизонтальный профиль;</li>
                  <li>комбинированное крепление: наиболее крепкое соединение, технология которого представляет собой как клеевую, так и механическую основу. Все плиты приклеиваются на профили и фиксируются при помощи механических крепежТехнология вентилируемого фасада при скрытом креплении керамогранита является более разнообразной и состоит из скрытого крепления с приклеиванием керамогранита на профили. Крепление происходит за счет удержания за прорези в торцах точек крепления при помощи штифтов ( при использовании плит толщиной 2-3 см).</li>
                </ul>
                <p>Эта система предусматривает фиксацию плит с прикреплением аграфов анкерами типа «Кeil». Верхние аграфы оснащены регулировочными винтами для создания четкого горизонтального шва.</p>
                <p>На цокольных этажах, входных группах и достаточно хорошо просматриваемых поверхностях первых этажей зданий используют невидимый способ крепления керамогранита. </p>
                <p>К недостаткам керамического гранита можно отнести лишь невозможность реализации или высокую цену ярких цветовых решений на фасаде, и особых архитектурных форм (круглые колонны), больших (свыше 1200 мм) пространственных решений без рустов.</p>
                <p>В остальном керамогранит по праву занимает лидирующее место в объемах установки на вентфасадах, как материал наиболее полно отвечающий современным требованиям безопасности и показателю: цена/качество.</p>
              </div>
              <div class="system__slide-grid-right">
                <img src="{% static 'main/img/system_img/system2-01.jpg' %}" alt="">
              </div>
            </div>
          </div>
        </div>

        <div class="system__slide">
          <h3 class="system__slide-title">
            КЕРАМОГРАНИТ (ВИДИМОЕ КРЕПЛЕНИЕ)
          </h3>
          <div class="system__slide-cont">
            <div class="system__slide-grid">
              <div class="system__slide-grid-left">
                <p>Крепление керамогранита на кляммерах видимым способом требует определенной схемы. Наиболее популярными размерами плиток керамогранита являются 600х600, 900х600 и 1200х600.</p>
                <p>При видимом способе крепления элементы крепежной системы выступают за облицовочные плиты. Основным крепёжным элементом, удерживающим плиту керамогранита является кляммер. Это очень ответственный элемент в составе фасадной системы.</p>
                <p>На вид кляммер - это стальная пластина с выгнутыми особым образом зажимами. Для обеспечения единого цветового решения кляммер окрашивается с наружной стороны таким образом, чтобы зажимы, выходящие за облицовочный материал, были максимально близки по цвету с материалом облицовки.</p>
                <p>На вентфасады из керамогранита плиты крепятся к направляющим с использованием кляммеров, которые изготовлены из пружинной коррозионностойкой стали. Обычно применяют кляммеры четырех типов, которые позволяют производить монтаж керамогранита, толщина которого составляет 8-13 мм, обеспечивая толщину межплиточного шва 6-8 мм.</p>
                <p>Прикрепление кляммеров проводят при помощи заклепок на направляющий профиль. В самом нижнем ряду проводят установку стартовых клямеров, которые еще называются завершающими. После того, как вставлен вентилируемый керамогранит на высоте первого ряда, производят монтаж обычного кляммера, соблюдая этот порядок до самого верха до завершающего кляммера.</p>
                <p>Рациональным считается применение рядовых систем с шагом креплением кронштейнов по вертикали не более 600мм с помощью фасадного анкера и не более 800 мм для химического анкера.</p>
                <p>Большое количество кронштейнов на м2 приводит к ухудшению теплотехнических характеристик, теплотехнической неоднородности фасада и высокой стоимости фасадной подконструкции (в случае технической возможности лучше сделать выбор в сторону системы с креплением исключительно в межэтажные перекрытия). </p>
                <p>При монтаже керамогранита на высотных зданиях чаще всего используется видимый способ. Не стоит думать, что открытое крепление портит визуальную составляющую, ведь эти элементы можно обработать полиэфирной порошковой краской любого цвета, что создает красивый и эстетичный вид фасада.</p>
              </div>
              <div class="system__slide-grid-right">
                <img src="{% static 'main/img/system_img/system3-01.jpg' %}" alt="">
              </div>
            </div>
          </div>
        </div>

        <div class="system__slide">
          <h3 class="system__slide-title">
            ТЕРРАКОТА
          </h3>
          <div class="system__slide-cont">
            <div class="system__slide-grid">
              <div class="system__slide-grid-left">
                <p>Терракотовые панели для фасадов — глиняная плита (применяется для привлекательного оформления сооружения). Главным компонентом служит проверенный вид глины, лишенный всевозможных опасных веществ, богатый кварцем, слюдой. Панели легче по весу других материалов, за счет пустотелости. Но при данной характеристики, изделия не становятся ломкими в эксплуатации. Теплоизоляционные свойства – плюс выбранных изделий. Покупатели ценят панели за сочетание прочности и привлекательного оформления, разнообразие цветов продукции. Они впитывают влагу, противостоят внешним факторам среды. Терракота для фасада – негорючий материал, обладающий высоким коэффициентом шумопоглощения. Типы терракотовых фасадных панелей Главные типы популярного материала, представленные в мире: Стандартные панели: отличаются ровной поверхностью, этим и привлекают миллионы потребителей. Толщина изделий составит 1,2-4 см; </p>
                <span>Волнистые фасадные панели.</span>
                <p>Разная высота и число волн, расстояние между которыми составит 25 см. Специальные материалы, обладающие особыми свойствами и оформлением. Выбор панелей огромен, в этом легко самостоятельно убедиться, заглянув на сайт магазина стройматериалов. Есть классические варианты, существуют оформленные разновидности, имитирующие вагонку. Для придания сооружению неповторимости можно обратиться к применению терракотовых багетов. Некоторые материалы отличаются замысловатыми формами. Цена продукции играет не последнюю роль при покупке конкретного типа товара.. Рифлёные панели Рустованные панели – популярная облицовка, представляющая собой плотное, долговечное изделие, имеющее специальные бороздки – отличительная черта. Русты разделяют панель на одинаковые элементы. В продаже можно найти модели спокойных цветовых решений. Популярным среди них считается серый вариант продукции. Волнистые панели Обратная поверхность оригинальной по внешнему оформлению панели плоская, но наружная имеет волнообразный профиль. Расстояние между волнами меняется от 15-25 см. Такая продукция придает фасаду объекта неповторимость, что привлекает внимание и впечатляет. </p>
                <span>Гладкие</span>
                <p>Классический тип терракотовой отделки. Толщина панелей подбирается в соответствии с разработанным проектом, площадью сооружения, нормативами в строительстве. Для уменьшения нагрузки на систему при облицовки многоэтажных объектов используют стандартного типа панели, толщина которых составит 1,5-2 см. Популярный вариант – панели 30 мм, подходящие как для частных объектов так и для сооружений в несколько этажей (двухэтажные объекты). </p>
                <span>Фактурные</span>
                <p>Фактурные материалы имитируют поверхность природного камня. У таких современных панелей явное преимущество, о котором стоит сказать, —  теплоотдача, долговечность. Это свойство делает представленную продукцию популярной в использовании.</p>
              </div>
              <div class="system__slide-grid-right">
                <img src="{% static 'main/img/system_img/system4-01.jpg' %}" alt="">
              </div>
            </div>
          </div>
        </div>

        <div class="system__slide">
          <h3 class="system__slide-title">
            НАТУРАЛЬНЫЙ КАМЕНЬ
          </h3>
          <div class="system__slide-cont">
            <div class="system__slide-grid">
              <div class="system__slide-grid-left">
                <p>Роскошный внешний вид, надежность – эти качества как нельзя лучше подходят для описания вентфасада из природного камня. Известняк, гранит или песчаник, мрамор или сланец – независимо от того, на какой породе вы остановитесь, ваш дом будет выделяться на фоне неприметных строений, стоящих рядом. У вас есть возможность выбрать натуральный облицовочный камень для фасада в каталоге компании, не выходя за пределы квартиры. Но не все известняковые породы мы предлагаем в качестве фасадных материалов, а только наиболее плотные представители с высоким показателем морозостойкости – не менее 100 циклов (показатель F100), низким водопоглощением. В каталоге представлены известняк или песчаник, прямые поставки которого мы осуществляем из Португалии, Испании, Хорватии, Италии.</p>
                <p>Этот материал отличается долговечностью: многовековые каменные сооружения до сих пор сохраняют свой первозданный облик. Кроме того, каменная плитка не требует особого ухода, а следовательно, затрат на реставрацию или ремонт. Узнать цену за м2 на натуральный камень для фасада вы можете по телефонам.</p>
                <p>У нас вы можете заказать вентилируемый фасад из натурального камня для загородного дома, многоуровневого офиса или торгового центра. Мы поможем не только перенести ваши идеи на бумагу, в 3D-проект, но и осуществим производство и монтаж объекта.</p>
              </div>
              <div class="system__slide-grid-right">
                <img src="{% static 'main/img/system_img/system5-01.jpg' %}" alt="">
              </div>
            </div>
          </div>
        </div>

        <div class="system__slide">
          <h3 class="system__slide-title">
            ЛИСТОВЫЕ МАТЕРИАЛЫ
          </h3>
          <div class="system__slide-cont">
            <div class="system__slide-grid">
              <div class="system__slide-grid-left">
                <h4>Виды профлиста для фасада</h4>
                <p>Профлист – это оцинкованный или покрытый полимером стальной лист, он может быть волнообразным или гофрированным. Толщина листа от 0,4 мм до одного миллиметра. Бывает нескольких видов:</p>
                <ul>
                  <li>Стеновой (С8, С10, С18, С21, С35, С44)</li>
                  <li>Несущий (Н57, Н60, Н75)</li>
                  <li>Универсальный (НС35, НС44)</li>
                </ul>
                <p>Цифра рядом с маркой обозначает высоту гофры или волны. Ребристая или волнистая поверхность листа это данные эстетического плана, а вот их высота, ширина – это технические характеристики. И чем волна больше, тем прочнее. Лист бывает разных размеров, можно приобрести лист, который соответствует высоте стены или подобрать по ширине.</p>
                <p>Установить волны фасада из профлиста допустимо по горизонтали или по вертикали. Если комбинировать листы, можно получить интересную облицовку дома профнастилом. Часто фронтон укладывается гофрами горизонтально, а стены профлистом – вертикально, иногда наоборот.</p>
                <p>Профнастил применяют для фасада, кровли и забора. Давайте подробнее остановимся на свойствах пронастила для обшивки дома. Главный параметр жесткости также влияющий и на стоимость изделия, его толщина. Толщина профнастила колеблется в пределах 0,4 – 1 мм.</p>
                <p>Чтобы правильно подобрать стеновой фасадный профнастил, нужно ознакомится с его аббревиатурой. Если в названии есть буква “С” – значит перед вами фасадный профлист. У него небольшая толщина, как правило, от 0,6 мм, он крепится на вертикальную поверхность и не рассчитан на высокие нагрузки.</p>
                <p>Буквами “НС” обозначаю кровельный материал. А самый прочный несущий профнастил, годный для заливки по нему перекрытий, маркируется буквами “Н” или “К”.</p>
                <p>Для фасадов оптимальной высотой волны считается 8 мм. Такой профлист будет не выражено рифленым, но этих ребер жесткости достаточно, чтобы выдержать типовые нагрузки для фасада.</p>
                <p>Ширина листа стандартная 1115 мм, а длину возможно изготавливать на заказ. Советуем брать максимально длинные изделия профлиста, чтобы покрыть без стыков как можно большую поверхность фасада. Каждый стык требует особого внимания и может скапливать влагу. Поэтому сокращайте примыкания по максимуму.</p>
                <h4>Плюсы и минусы отделки фасада профлистом</h4>
                <p>Профлист для фасадов имеет некоторые недостатки:</p>
                <ul>
                  <li>Под воздействием прямых солнечных лучей здорово нагревается;</li>
                  <li>Дребезжание во время сильного дождя и ветра. Предметы, поднятые ветром, издают неприятные звуки, которые могут доноситься до помещения;</li>
                  <li>Он может корродировать, особенно на срезах. Есть один приём, помогающий предостеречь от ржавчины: прокрасить места пропила полимерными красками или олифой;</li>
                  <li>Некоторых смущает электромагнитный экран, образующийся из-за кругового покрытия металлом дома, который вроде как может влиять на здоровье человека.<br> К плюсам же относят скорость монтажа, яркие цвета и приемлемую стоимость. Например, отделка дома профлистом по сравнению с сайдингом будет выполнена в два раза быстрее за счет широкого формата самого материала</li>
                </ul>
              </div>
              <div class="system__slide-grid-right">
                <img src="{% static 'main/img/system_img/system6-01.jpg' %}" alt="">
              </div>
            </div>
          </div>
        </div>

        <div class="system__slide">
          <h3 class="system__slide-title">
            HPL ПАНЕЛИ
          </h3>
          <div class="system__slide-cont">
            <div class="system__slide-grid">
              <div class="system__slide-grid-left">
                <p>Самое популярное применение HPL пластика – для фасадов частных и общественных зданий. В первую очередь, для офисов, отелей, кафе и ресторанов.</p>
                <p>Характеристики материала позволяют получить эстетически привлекательную и долговечную поверхность. При этом все HPL фасады являются вентилируемыми, то есть крепятся на металлическом каркасе и позволяют циркулировать воздуху внутри свободного пространства. Это позволяет убирать конденсат и поддерживать оптимальную влажность в здании.</p>
                <span>HPL пластик на фасаде частного дома</span>
                <p>Могут использоваться фасадные панели HPL и для облицовки балконов, лоджий, террас и садово-парковой мебели.</p>
                <p>Второй вид материалов, интерьерные СМЛ-панели, чаще всего используют для:</p>
                <ul>
                  <li>перегородок для сантехнических кабин в офисах и развлекательных центрах;</li>
                  <li>шкафов в раздевалках в бассейнах, аквапарках и спортивных клубов;</li>
                  <li>внутренней обшивки стен в медицинских учреждениях и лабораториях;</li>
                  <span>Применение в интерьере</span>
                  <p>Панели толщиной от 10 мм считаются самонесущими и могут применяться для изготовления дверей и корпусной мебели, предназначенной для использования в общественных местах.</p>
                  <p>А ещё – для декорирования жилых и бытовых помещений. Устойчивость к влаге позволяет устанавливать панели даже в комнатах с повышенной влажностью.</p>
                  <p>Цены на HPL-панели зависят от различных факторов. Определённую роль при этом играет производитель материала. Однако главной характеристикой, влияющей на стоимость, является толщина.</p>
                </ul>
              </div>
              <div class="system__slide-grid-right">
                <img src="{% static 'main/img/system_img/system7-01.jpg' %}" alt="">
              </div>
            </div>
          </div>
        </div>

        <div class="system__slide">
          <h3 class="system__slide-title">
            Вентилируемые фасады из композитных панелей
          </h3>
          <div class="system__slide-cont">
            <div class="system__slide-grid">
              <div class="system__slide-grid-left">
                <p><strong>Вентилируемые фасады из композитных панелей</strong> – современный тип отделки оформлений интерьера наружных стен домов и построек различного назначения. По конструкции панели схожи с типом сэндвич панелей состоящий из нескольких функционально важных составляющих слоев. Такой вид вентилируемого фасада очень практичен в эксплуатации и обладает бесспорно совершенным внешним обликом. Реализовывается такой тип отделки при помощи алюминиевых композитных панелей. Рассмотрим, что такое композитные панели, их конструктивные составляющие, производство и способы монтажа на фасад.</p>
                <p>Алюминиевые композитные панели – многослойное изделие состоящие из двух алюминиевых листов, покрытых PVDF эмалью или полиэстером для придания цветной декоративной составляющей и внутренней прослойкой из полимерной минеральной композиции в виде полиолефинов. Такой тип облицовки вентилируемых фасадов обладает высокой прочностью к внешним воздействиям и стойкостью к перепадам температур, что сказывается на долговечности фасада. Так же композитные панели очень гибки и пластичны что позволяет подобрать реализацию при облицовке самых сложных архитектурных проектов. При всем при этом композитные материалы обладают относительно низким весом что позволяет снизить нагрузку на несущие стены и фундамент всего строения.</p>
              </div>
              <div class="system__slide-grid-right">
                <img src="{% static 'main/img/system_img/system8-01.jpg' %}" alt="">
              </div>
            </div>
          </div>
        </div>

        <div class="system__slide">
          <h3 class="system__slide-title">
            Фасады из дерева
          </h3>
          <div class="system__slide-cont">
            <div class="system__slide-grid">
              <div class="system__slide-grid-left">
                <h5>Виды фасадного планкена</h5>
                <p>Изделия из пластика дешевле, но стройматериалы, изготовленные из природного сырья, более качественные и смотрятся куда эффектнее. К тому же они куда долговечнее и практичнее. Часто для наружной облицовки строения хозяева предпочитают деревянные конструкции, например, вагонку. Однако куда более практичным считается использование планкена. Это не столь распространённый материал как вагонка, но он обладает рядом преимуществ перед ней.</p>
                <p>Планкеном называют деревянную доску, у которой со всех углов снята фаска. Благодаря своей конструкции и простому способу крепления он набирает всё большую популярность у мастеров, занимающихся облицовкой фасадов зданий.</p>
                <strong>Всего существует три вида доски планкен:</strong>
                <ul>
                  <li>С прямым профилем (скос имеет наклон 35−70 градусов).</li>
                  <li>С прямым профилем, оснащенным пазами.</li>
                  <li>Со скошенным, или косым профилем.</li>
                </ul>
                <p>Толщина планкена колеблется от 15 до 22 мм. Стандартная длина доски составляет 4 метра, хотя бывают и другие варианты — это зависит от специфики производителя. Также стоит отметить что при необходимости всегда можно заказать у изготовителя материал нужных параметров. Например, если строительство происходит в доме с нестандартным дизайном. Ширина доски составляет 7−9 см.</p>
                <strong>Материалом может быть древесина разных пород:</strong>
                <ul>
                  <li>тик;</li>
                  <li>ель;</li>
                  <li>лиственница;</li>
                </ul>
                <p>Есть на рынке и импортная экзотика: мербау, дахома, но она значительно дороже отечественной доски и встречается редко. Наибольшую популярность приобрёл планкен из сибирской лиственницы. Этот материал стоит дороже, например, ели, однако он гораздо практичнее.</p>
                <p><strong>Из всех пород отечественной древесины</strong> это самая надёжная и обладает следующими преимуществами:</p>
                <ul>
                  <li>самая долговечная;</li>
                  <li>самая прочная;</li>
                  <li>дольше всего сохраняет свой внешний вид;</li>
                  <li>не гниёт, устойчива к влаге;</li>
                  <li>прекрасно переносит перепады температур;</li>
                  <li>её избегают вредители.</li>
                </ul>
                <p>Многие свои характеристики лиственница имеет благодаря большому содержанию естественных смол. При изготовлении планкена применяются специальные технологии термообработки, которые ещё больше поднимают стойкость дерева к различным внешним воздействиям.</p>
                <h5>Применение доски в строительстве</h5>
                <p>Популярность этого строительного материала объяснить достаточно просто. Широкий выбор древесин разных пород, простой монтаж, экологичность, долговечность, эстетичность. Планкет широко используют при строительстве различных видов зданий. Он прост в эксплуатации и доступен.</p>
                <strong>Строительному материалу нашлось широкое применение и в частном домостроении:</strong>
                <ul>
                  <li>оборудование вентилируемых фасадов;</li>
                  <li>строительство горизонтальных поверхностей, типа террас;</li>
                  <li>внутренняя отделка помещений;</li>
                  <li>применяется в строительстве ограждений и заборов;</li>
                  <li>обшивка беседок и веранд;</li>
                  <li>создание детских площадок, столов, скамеек;</li>
                </ul>
                <h5>Преимущества перед вагонкой</h5>
                <p>Если сравнивать популярность планкена и вагонки, то последняя пока ещё выигрывает и значительно вырывается вперед. Однако первый имеет ряд преимуществ. Одно из самых существенных это то, что он собирается с определённым зазором между досками, а это даёт возможность некоторым колебаниям размеров при перепадах температур и влажности. Как известно, все строительные материалы могут несущественно менять свой размер при внешних негативных факторах. При этом само здание, даже из-за небольших изменений, может серьезно сократить свой срок эксплуатации. Кроме того, благодаря своему способу крепления заменить отдельный планкен гораздо проще чем вагонку.</p>
                <p>Все эти очевидные плюсы увеличивают шансы экологичного строительного материала уже в ближайшем будущем серьезно оторваться от соперников и обогнать даже своего самого главного конкурента — вагонку.</p>
              </div>
              <div class="system__slide-grid-right">
                <img src="{% static 'main/img/system_img/system9-01.jpg' %}" alt="">
                <img src="{% static 'main/img/system_img/system9-02.jpg' %}" alt="">
              </div>
            </div>
          </div>
        </div>

        <div class="system__slide">
          <h3 class="system__slide-title">
            фиброцементные панели
          </h3>
          <div class="system__slide-cont">
            <div class="system__slide-grid">
              <div class="system__slide-grid-left">
                <h5>Что такое фиброцементные панели</h5>
                <p>Фиброцементная плита представляет собой прочный и влагостойкий композитный материал, изготавливаемый из цементно-песчаной смеси, армирующих целлюлозных волокон и специальных добавок. Помимо целлюлозы, армирующие волокна могут изготавливаться из следующих материалов:</p>
                <ul>
                  <li>Акрила;</li>
                  <li>Полипропилена;</li>
                  <li>Базальта;</li>
                  <li>Нейлона;</li>
                  <li>Полиамида;</li>
                  <li>Полиэфира;</li>
                </ul>
                <p>Варианты армирования определяются производителем в зависимости от назначения и конкретных условий эксплуатации.</p>
                <p>Сухая смесь для изготовления фиброцементных плит содержит 80% цемента, на долю остальных компонентов приходится 20%. Такое соотношение обеспечивает высокую прочность и длительный срок службы материала.</p>
                <p>Декоративные свойства фасадной плиты позволяют воплотить в жизнь любые дизайнерские решения. Широкая цветовая гамма и большое количество фактур позволяют имитировать:</p>
                <ul>
                  <li>Кирпичную кладку;</li>
                  <li>Битый кирпич;</li>
                  <li>Природный камень;</li>
                  <li>Керамическую плитку;</li>
                  <li>Деревянные панели и т.д.</li>
                </ul>
                <p>От воздействия ультрафиолетового излучения и атмосферных осадков декоративный слой покрывается специальным защитным составом, который не только предупреждает выгорание, но и обеспечивает простоту очистки панелей. Задняя поверхность плиты обрабатывается гидрофобной пропиткой, существенно снижающей влагопоглощение материала.</p>
                <h5>Как изготавливают фиброцементные фасадные панели</h5>
                <p>Технология изготовления фиброцементных облицовочных материалов была разработана в Японии. В настоящее время этот материал производится в большинстве стран Европы, не стала исключением и Россия.</p>
                <p>Сразу отметим тот факт, что изготовление качественных фиброцементных плит кустарным способом невозможно: необходимо специальное дорогостоящее оборудование, большие производственные площади, лаборатории, склады и т.д.</p>
                <p>Технологический процесс производства облицовочного материала включает в себя несколько этапов:</p>
                <ol>
                  <li>На первом этапе, входящую в состав плит целлюлозу, разделяют на отдельные волокна, тщательно очищают и отправляют на хранение в специальную емкость. После этого, очищенные волокна поступают в бункер, где происходит смешивание с остальными компонентами.</li>
                  <li>В специальном барабане все необходимые ингредиенты (песок, цемент, волокна целлюлозы, пластификаторы и другие добавки) тщательно перемешиваются. В полученную сухую смесь добавляют строго определенное количество воды и вымешивают до получения требуемой консистенции и однородности смеси.</li>
                  <li>Полученную таким образом смесь спрессовывают в специальных формах, благодаря чему устраняются излишки влаги, уплотняется структура материала и обеспечивается требуемая фактура.</li>
                  <li>Следующим этапом является обработка полученных полуфабрикатов в автоклавной камере, где происходит окончательное затвердевание панелей при температуре 170 – 1800С. Помимо высокой температуры, листы обрабатываются насыщенным паром под высоким давлением. Именно воздействие насыщенного пара обеспечивает образование гидросиликата кальция. Наличие этого элемента в структуре плит существенно увеличивает их прочность и долговечность.</li>
                  <li>На завершающем этапе технологического процесса производится нанесение гидрофобных, декоративных и защитных покрытий, которые значительно снижают влагопоглощение, повышают устойчивость к атмосферным воздействиям и перепаду температур.</li>
                </ol>
              </div>
              <div class="system__slide-grid-right">
                <img src="{% static 'main/img/system_img/system10-01.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="fasad-system" id="fasad-system">
    <div class="container">
      <h2 class="fasad-system__title">Фасадные системы</h2>
      <div class="fasad-system__items">
        <div class="fasad-system__item">
          <div class="fasad-system__item-icon">
            <picture>
{#              <source srcset="./img/icons/icon-system-1.webp" type="image/webp">#}
              <img src="{% static 'main/img/icons/icon-system-1.png' %}" alt="">
            </picture>
          </div>
          <h3 class="fasad-system__item-title">КРЕПЛЕНИЕ В МЕЖЭТАЖНЫЕ ПЕРЕКРЫТИЯ</h3>
          <p class="fasad-system__item-descr">Все навесные вентилируемые фасады обладают возможностью крепления исключительно в межэтажные перекрытия, что позволяет заполнять стеновые проемы легкими пористыми материалами (пеноблок, газобетон, и др.)</p>
        </div>
        <div class="fasad-system__item">
          <div class="fasad-system__item-icon">
            <picture>
{#              <source srcset="./img/icons/icon-system-2.webp" type="image/webp">#}
              <img src="{% static 'main/img/icons/icon-system-2.png' %}" alt="">
            </picture>
          </div>
          <h3 class="fasad-system__item-title">ГОРИЗОНТАЛЬНО– ВЕРТИКАЛЬНЫЙ КАРКАС</h3>
          <p class="fasad-system__item-descr">Наши системы обладают горизонтально-вертикальным каркасом, что делает их более надежными и простыми в монтаже по сравнению с вертикальными системами!</p>
        </div>
        <div class="fasad-system__item">
          <div class="fasad-system__item-icon">
            <picture>
{#              <source srcset="./img/icons/icon-system-3.webp" type="image/webp">#}
             <img src="{% static 'main/img/icons/icon-system-3.png' %}" alt="">
            </picture>
          </div>
          <h3 class="fasad-system__item-title">СЕЙМИЧЕСКАЯ БЕЗОПАСНОСТЬ</h3>
          <p class="fasad-system__item-descr">Все системы успешно прошли испытания на динамические нагрузки для зданий высотой 100 и более метров и рекомендованы для применения в сейсмоопасных районах с сейсмичностью до 9 баллов.</p>
        </div>
        <div class="fasad-system__item">
          <div class="fasad-system__item-icon">
            <picture>
{#              <source srcset="./img/icons/icon-system-4.webp" type="image/webp">#}
              <img src="{% static 'main/img/icons/icon-system-4.png' %}" alt="">
            </picture>
          </div>
          <h3 class="fasad-system__item-title">ПОЖАРОБЕЗОПАСНОСТЬ</h3>
          <p class="fasad-system__item-descr">Все системы успешно прошли огневые испытания совместно с применяемыми материалами облицовки.</p>
        </div>
        <div class="fasad-system__item">
          <div class="fasad-system__item-icon">
            <picture>
{#              <source srcset="./img/icons/icon-system-5.webp" type="image/webp">#}
              <img src="{% static 'main/img/icons/icon-system-5.png' %}" alt="">
            </picture>
          </div>
          <h3 class="fasad-system__item-title">УНИКАЛЬНЫЕ ЗАПАТЕНТОВАННЫЕ ЭЛЕМЕНТЫ И УЗЛЫ</h3>
          <ul class="fasad-system__item-descr">
            <li>Опорный кронштейн.</li>
            <li>Горизонтальные направляющие особой формы.</li>
            <li>Активная огневая защита фасада с оконными обрамлениями из композитных панелей.</li>
            <li>Сейсмоустойчивый кляммер.</li>
          </ul>
        </div>
        <div class="fasad-system__item">
          <div class="fasad-system__item-icon">
            <picture>
{#              <source srcset="./img/icons/icon-system-6.webp" type="image/webp">#}
                <img src="{% static 'main/img/icons/icon-system-6.png' %}" alt="">
            </picture>
          </div>
          <h3 class="fasad-system__item-title">МНОГООБРАЗИЕ ОБЛИЦОВОЧНЫХ МАТЕРИАЛОВ</h3>
          <ul class="fasad-system__item-descr">
            <li>Фиброцементные и асбестоцементные плиты с декоративным покрытием; минераловатные панели.</li>
            <li>Кассеты из композитных материалов, стали и алюминия.</li>
            <li>Керамогранитные плиты, натуральный камень, объемная керамика.</li>
            <li>Клинкерная плитка, декоративный камень.</li>
            <li>Фасадный декор из стеклофибробетона.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="decor">
    <div class="decor__waves-left">
        <img src="{% static 'main/img/decor/decor-wave-left.svg' %}" alt="">
    </div>
    <div class="container decor__wrapper">
      <div class="decor__wrapper-left">
        <h2 class="decor__title">Фасадный <span>Декор</span></h2>
        <div class="decor__items">
          <div class="decor__item">
            <div class="decor__item-icon">
              <img src="{% static 'main/img/icons/icon-decor-1.svg' %}" alt="">
            </div>
            <h3 class="decor__item-name">малый вес, пустотелость</h3>
          </div>
          <div class="decor__item">
            <div class="decor__item-icon">
              <img src="{% static 'main/img/icons/icon-decor-2.svg' %}" alt="">
            </div>
            <h3 class="decor__item-name">низкая нагрузка на несущие конструкции и перекрытия </h3>
          </div>
          <div class="decor__item">
            <div class="decor__item-icon">
              <img src="{% static 'main/img/icons/icon-decor-3.svg' %}" alt="">
            </div>
            <h3 class="decor__item-name">высокие показатели прочности на изгиб и растяжение</h3>
          </div>
          <div class="decor__item">
            <div class="decor__item-icon">
              <img src="{% static 'main/img/icons/icon-decor-4.svg' %}" alt="">
            </div>
            <h3 class="decor__item-name">стойкость к образованию усадочных микротрещин</h3>
          </div>
          <div class="decor__item">
            <div class="decor__item-icon">
              <img src="{% static 'main/img/icons/icon-decor-5.svg' %}" alt="">
            </div>
            <h3 class="decor__item-name">высокая морозостойкость</h3>
          </div>
          <div class="decor__item">
            <div class="decor__item-icon">
              <img src="{% static 'main/img/icons/icon-decor-6.svg' %}" alt="">
            </div>
            <h3 class="decor__item-name">высокая огнестойкость (выше показателей бетона)</h3>
          </div>
          <div class="decor__clearfix"></div>
          <div class="decor__item">
            <div class="decor__item-icon">
              <img src="{% static 'main/img/icons/icon-decor-7.svg' %}" alt="">
            </div>
            <h3 class="decor__item-name">крайне низкое водопоглощение</h3>
          </div>
          <div class="decor__item">
            <div class="decor__item-icon">
              <img src="{% static 'main/img/icons/icon-decor-8.svg' %}" alt="">
            </div>
            <h3 class="decor__item-name">низкая теплопроводность </h3>
          </div>
          <div class="decor__item">
            <div class="decor__item-icon">
              <img src="{% static 'main/img/icons/icon-decor-9.svg' %}" alt="">
            </div>
            <h3 class="decor__item-name">устойчивость к агрессивным кислотным средам</h3>
          </div>
          <div class="decor__item">
            <div class="decor__item-icon">
              <img src="{% static 'main/img/icons/icon-decor-10.svg' %}" alt="">
            </div>
            <h3 class="decor__item-name">ударопрочность и высокая звукоизоляция</h3>
          </div>
          <div class="decor__item">
            <div class="decor__item-icon">
                <img src="{% static 'main/img/icons/icon-decor-11.svg' %}" alt="">
            </div>
            <h3 class="decor__item-name">износостойкость</h3>
          </div>
          <div class="decor__item">
            <div class="decor__item-icon">
              <img src="{% static 'main/img/icons/icon-decor-12.svg' %}" alt="">
            </div>
            <h3 class="decor__item-name">несгораемый материал </h3>
          </div>
          <div class="decor__item">
            <div class="decor__item-icon">
                 <img src="{% static 'main/img/icons/icon-decor-13.svg' %}" alt="">
            </div>
            <h3 class="decor__item-name">уникальные возможности монтажа благодаря малому весу</h3>
          </div>
        </div>
      </div>
      <div class="decor__wrapper-right">
        <h2 class="decor__title-right">Почему мы используем стеклофибробетон</h2>
        <p>Специфика применения наших изделий, а именно – использование их в составе системы навесного вентилируемого фасада, потребовала особенно тщательного подхода при анализе технических характеристик и эстетических свойств различных материалов. </p>
        <p>Стеклофибробетон – композиционный материал, состоящий из цементно-песчаной смеси, армированной отрезками стекловолокна. Он позволяет получать легкие, но прочные декоративные элементы, максимально соответствующие нашим высоким требованиям к качеству изготавливаемой продукции.</p>
      </div>
    </div>
    <div class="decor__waves-right">
        <img src="{% static 'main/img/decor/decor-wave-right.svg' %}" alt="">
    </div>
  </section>

  <section class="projection container">
    <h2 class="projection__title"><span>Проектирование</span> навесных вентилируемых фасадов</h2>
    <div class="projection__blocks">
      <div class="projection__block">
        <div class="projection__block-wrap">
          <div class="projection__block-slider">
            <img src="{% static 'main/img/projection/projection-1.jpg' %}" alt="">
              <img src="{% static 'main/img/projection/projection-2.jpg' %}" alt="">
              <img src="{% static 'main/img/projection/projection-3.jpg' %}" alt="">
          </div>
          <div class="projection__block-over">
            <span>Больше фото</span>
            <div class="projection__block-slider-dots"></div>
          </div>
        </div>
        <div class="projection__block-descr">
          <h3>СОБСТВЕННОЕ КОНСТРУКТОРСКОЕ БЮРО</h3>
          <p>Мы имеем собственное конструкторское бюро – штат высококлассных специалистов-конструкторов, которые занимаются разработкой и проектированием систем навесных вентилируемых фасадов и светопрозрачных конструкций. Благодаря их работе системы приобрели те качества, за которые их ценят строители и заказчики: уникальные возможности крепления на стены из любых материалов, простота и удобство монтажа, бескомпромиссная надежность, максимальная безопасность, долговечность.</p>
        </div>
      </div>
      <div class="projection__block">
        <div class="projection__block-wrap">
          <div class="projection__block-slider">
            <img src="{% static 'main/img/projection/projection-2.jpg' %}" alt="">
              <img src="{% static 'main/img/projection/projection-1.jpg' %}" alt="">
              <img src="{% static 'main/img/projection/projection-3.jpg' %}" alt="">
          </div>
          <div class="projection__block-over">
            <span>Больше фото</span>
            <div class="projection__block-slider-dots"></div>
          </div>
        </div>
        <div class="projection__block-descr">
          <h3>ИННОВАЦИОННЫЕ РЕШЕНИЯ</h3>
          <p>Конструкторским бюро постоянно разрабатываются новые элементы и узлы – большинство из этих продуктов защищены патентами. Наши фасадные системы во многом являются инновационными, демонстрируя возможности, которые недоступны другим фасадным системам.</p>
        </div>
      </div>
      <div class="projection__block">
        <div class="projection__block-wrap">
          <div class="projection__block-slider">
              <img src="{% static 'main/img/projection/projection-3.jpg' %}" alt="">
              <img src="{% static 'main/img/projection/projection-2.jpg' %}" alt="">
              <img src="{% static 'main/img/projection/projection-1.jpg' %}" alt="">
          </div>
          <div class="projection__block-over">
            <span>Больше фото</span>
            <div class="projection__block-slider-dots"></div>
          </div>
        </div>
        <div class="projection__block-descr">
          <h3>ПОЛНЫЙ КОМПЛЕКС УСЛУГ ПО ПРОЕКТИРОВАНИЮ</h3>
          <p>Разработка дизайн-проекта фасада и предварительный расчет стоимости. Изготовление буклета и получение колористического паспорта. Проведение предпроектных исследований и геодезическая съемка. Разработка рабочего проекта. Согласование проекта в надзорных органах. Обучение Вашего инженерно-технического персонала. Шеф-монтажные работы на объекте. Авторский и технический надзор в ходе строительства.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="callback">
    <div class="container">
      <h2 class="callback__title"><span>Получите</span>расчет стоимость монтажа за 15 минут</h2>
      <div class="callback__subtitle">навесных вентилируемых фасадов</div>
      <button class="callback__btn call-bt">Заказать звонок</button>
    </div>
  </section>

  <section class="projection our_works container">
    <h2 class="projection__title"><span>Выполненные</span> проекты</h2>
    <div class="projection__blocks">

      <div class="projection__block">
        <div class="projection__block-wrap">
          <div class="projection__block-slider">
            <img src="{% static 'main/img/our_works/work-01/01.jpg' %}" alt="">
            <img src="{% static 'main/img/our_works/work-01/02.jpg' %}" alt="">
            <img src="{% static 'main/img/our_works/work-01/03.jpg' %}" alt="">
            <img src="{% static 'main/img/our_works/work-01/04.jpg' %}" alt="">
            <img src="{% static 'main/img/our_works/work-01/05.jpg' %}" alt="">
            <img src="{% static 'main/img/our_works/work-01/06.jpg' %}" alt="">
          </div>
          <div class="projection__block-over">
            <div class="projection__block-slider-dots"></div>
          </div>
        </div>
        <div class="projection__block-descr">
          <h3>Административное здание <br>г. Москва, Можайское шоссе 13</h3>
        </div>
      </div>

      <div class="projection__block">
        <div class="projection__block-wrap">
          <div class="projection__block-slider">
            <img src="{% static 'main/img/our_works/work-02/01.jpg' %}" alt="">
            <img src="{% static 'main/img/our_works/work-02/02.jpg' %}" alt="">
            <img src="{% static 'main/img/our_works/work-02/03.jpg' %}" alt="">
            <img src="{% static 'main/img/our_works/work-02/04.jpg' %}" alt="">
            <img src="{% static 'main/img/our_works/work-02/05.jpg' %}" alt="">
          </div>
          <div class="projection__block-over">
            <div class="projection__block-slider-dots"></div>
          </div>
        </div>
        <div class="projection__block-descr">
          <h3>Бизнес центр <br> Химки</h3>
        </div>
      </div>

      <div class="projection__block">
        <div class="projection__block-wrap">
          <div class="projection__block-slider">
              <img src="{% static 'main/img/our_works/work-03/01.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-03/02.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-03/03.jpg' %}" alt="">
          </div>
          <div class="projection__block-over">
            <div class="projection__block-slider-dots"></div>
          </div>
        </div>
        <div class="projection__block-descr">
          <h3>Бизнес центр <br> г. Смоленск</h3>
        </div>
      </div>

      <div class="projection__block">
        <div class="projection__block-wrap">
          <div class="projection__block-slider">
              <img src="{% static 'main/img/our_works/work-04/01.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-04/02.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-04/03.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-04/04.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-04/05.jpg' %}" alt="">
          </div>
          <div class="projection__block-over">
            <div class="projection__block-slider-dots"></div>
          </div>
        </div>
        <div class="projection__block-descr">
          <h3>Деловой центр <br>г. Москва ул. Тишинская</h3>
        </div>
      </div>

      <div class="projection__block">
        <div class="projection__block-wrap">
          <div class="projection__block-slider">
              <img src="{% static 'main/img/our_works/work-05/01.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-05/02.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-05/03.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-05/04.jpg' %}" alt="">
          </div>
          <div class="projection__block-over">
            <div class="projection__block-slider-dots"></div>
          </div>
        </div>
        <div class="projection__block-descr">
          <h3>Комплекс жилых зданий <br>г. Зеленогорад</h3>
        </div>
      </div>

      <div class="projection__block">
        <div class="projection__block-wrap">
          <div class="projection__block-slider">
              <img src="{% static 'main/img/our_works/work-06/01.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-06/02.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-06/03.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-06/04.jpg' %}" alt="">
          </div>
          <div class="projection__block-over">
            <div class="projection__block-slider-dots"></div>
          </div>
        </div>
        <div class="projection__block-descr">
          <h3>Загородный часный дом <br> п. Вешки, Московская область</h3>
        </div>
      </div>

      <div class="projection__block">
        <div class="projection__block-wrap">
          <div class="projection__block-slider">
              <img src="{% static 'main/img/our_works/work-07/01.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-07/02.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-07/03.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-07/04.jpg' %}" alt="">
          </div>
          <div class="projection__block-over">
            <div class="projection__block-slider-dots"></div>
          </div>
        </div>
        <div class="projection__block-descr">
          <h3>Калибр объект</h3>
        </div>
      </div>

      <div class="projection__block">
        <div class="projection__block-wrap">
          <div class="projection__block-slider">
              <img src="{% static 'main/img/our_works/work-08/01.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-08/02.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-08/03.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-08/04.jpg' %}" alt="">
          </div>
          <div class="projection__block-over">
            <div class="projection__block-slider-dots"></div>
          </div>
        </div>
        <div class="projection__block-descr">
          <h3>Московская область <br>г.Жуковский</h3>
        </div>
      </div>

      <div class="projection__block">
        <div class="projection__block-wrap">
          <div class="projection__block-slider">
              <img src="{% static 'main/img/our_works/work-09/01.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-09/02.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-09/03.jpg' %}" alt="">
          </div>
          <div class="projection__block-over">
            <div class="projection__block-slider-dots"></div>
          </div>
        </div>
        <div class="projection__block-descr">
          <h3>Московская область <br>г.Держинский</h3>
        </div>
      </div>

      <div class="projection__block">
        <div class="projection__block-wrap">
          <div class="projection__block-slider">
              <img src="{% static 'main/img/our_works/work-10/01.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-10/02.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-10/03.jpg' %}" alt="">
          </div>
          <div class="projection__block-over">
            <div class="projection__block-slider-dots"></div>
          </div>
        </div>
        <div class="projection__block-descr">
          <h3>Офисный центр <br>г.Москва ул. Академическая</h3>
        </div>
      </div>

      <div class="projection__block">
        <div class="projection__block-wrap">
          <div class="projection__block-slider">
              <img src="{% static 'main/img/our_works/work-11/01.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-11/02.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-11/03.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-11/04.jpg' %}" alt="">
          </div>
          <div class="projection__block-over">
            <div class="projection__block-slider-dots"></div>
          </div>
        </div>
        <div class="projection__block-descr">
          <h3>Сервисный центр DAF <br>г. Москва</h3>
        </div>
      </div>

      <div class="projection__block">
        <div class="projection__block-wrap">
          <div class="projection__block-slider">
              <img src="{% static 'main/img/our_works/work-12/01.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-12/02.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-12/03.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-12/04.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-12/05.jpg' %}" alt="">
          </div>
          <div class="projection__block-over">
            <div class="projection__block-slider-dots"></div>
          </div>
        </div>
        <div class="projection__block-descr">
          <h3>Техно парк <br>г. Москва ул. Угрешская</h3>
        </div>
      </div>

      <div class="projection__block">
        <div class="projection__block-wrap">
          <div class="projection__block-slider">
              <img src="{% static 'main/img/our_works/work-13/01.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-13/02.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-13/03.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-13/04.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-13/05.jpg' %}" alt="">
          </div>
          <div class="projection__block-over">
            <div class="projection__block-slider-dots"></div>
          </div>
        </div>
        <div class="projection__block-descr">
          <h3>Торговы центр<br> г. Москва, Щелковское шоссе</h3>
        </div>
      </div>

      <div class="projection__block">
        <div class="projection__block-wrap">
          <div class="projection__block-slider">
              <img src="{% static 'main/img/our_works/work-14/01.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-14/02.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-14/03.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-14/04.jpg' %}" alt="">
          </div>
          <div class="projection__block-over">
            <div class="projection__block-slider-dots"></div>
          </div>
        </div>
        <div class="projection__block-descr">
          <h3>Торговый комплекс<br> г. Москва ул. Борисовские Пруды</h3>
        </div>
      </div>

      <div class="projection__block">
        <div class="projection__block-wrap">
          <div class="projection__block-slider">
              <img src="{% static 'main/img/our_works/work-15/01.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-15/02.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-15/03.jpg' %}" alt="">
          </div>
          <div class="projection__block-over">
            <div class="projection__block-slider-dots"></div>
          </div>
        </div>
        <div class="projection__block-descr">
          <h3>Торговый центр<br> г. Москва ул. Салтыковская</h3>
        </div>
      </div>

      <div class="projection__block">
        <div class="projection__block-wrap">
          <div class="projection__block-slider">
              <img src="{% static 'main/img/our_works/work-16/01.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-16/02.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-16/03.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-16/04.jpg' %}" alt="">
              <img src="{% static 'main/img/our_works/work-16/05.jpg' %}" alt="">
          </div>
          <div class="projection__block-over">
            <div class="projection__block-slider-dots"></div>
          </div>
        </div>
        <div class="projection__block-descr">
          <h3>Москва, ул. Братиславская 13к1</h3>
        </div>
      </div>



    </div>
  </section>

  <section class="mounting" id="mounting">
    <div class="container">
      <h2 class="mounting__title">МОНТАЖ И ШЕФ-МОНТАЖ НАВЕСНЫХ ВЕНТИЛИРУЕМЫХ ФАСАДОВ</h2>
      <div class="mounting__blocks">

        <div class="mounting__item">
          <div class="mounting__item-head">
            <div class="mounting__item-img">
              <img src="{% static 'main/img/icons/icon-mounting-1.png' %}" alt="">
            </div>
            <h3 class="mounting__item-title">СОБСТВЕННОЕ МОНТАЖНОЕ ПОДРАЗДЕЛЕНИЕ</h3>
          </div>
          <p>У нас работают только подготовленные специалисты, имеющие большой опыт монтажа систем. Благодаря этому работы производятся быстро и качественно. Осуществляется гарантийное и постгарантийное обслуживание.</p>
        </div>
        <div class="mounting__item">
          <div class="mounting__item-head">
            <div class="mounting__item-img">
              <img src="{% static 'main/img/icons/icon-mounting-2.png' %}" alt="">
            </div>
            <h3 class="mounting__item-title">ПРОДУМАННЫЕ РЕШЕНИЯ ДЛЯ ПРОСТОТЫ МОНТАЖА</h3>
          </div>
          <p>Конструктивные решения наших систем делают процесс монтажа простым, интуитивно понятным.</p>
        </div>
        <div class="mounting__item">
          <div class="mounting__item-head">
            <div class="mounting__item-img">
              <img src="{% static 'main/img/icons/icon-mounting-3.png' %}" alt="">
            </div>
            <h3 class="mounting__item-title">ТОЛЬКО ЧИСТАЯ РАБОТА</h3>
          </div>
          <p>В процессе выполнения монтажных работ обеспечиваются своевременная уборка и вывоз строительного мусора.</p>
        </div>
        <div class="mounting__item">
          <div class="mounting__item-head">
            <div class="mounting__item-img">
                <img src="{% static 'main/img/icons/icon-mounting-4.png' %}" alt="">
            </div>
            <h3 class="mounting__item-title">ШЕФ-МОНТАЖ</h3>
          </div>
          <p>Услуги шеф-монтажа включают в себя: общетехнический и технологический контроль; теоретическое и практическое обучение персонала заказчика; контроль качества производства работ в процессе монтажа.</p>
        </div>
        <div class="mounting__item">
          <div class="mounting__item-head">
            <div class="mounting__item-img">
                <img src="{% static 'main/img/icons/icon-mounting-5.png' %}" alt="">
            </div>
            <h3 class="mounting__item-title">ДОКУМЕНТАЛЬНАЯ БАЗА</h3>
          </div>
          <p>Компания состоит в СРО и имеет свидетельства на выполнение основных видов проектных и строительных работ.</p>
        </div>
        <div class="mounting__item">
          <div class="mounting__item-head">
            <div class="mounting__item-img">
                <img src="{% static 'main/img/icons/icon-mounting-6.png' %}" alt="">
            </div>
            <h3 class="mounting__item-title">СОБСТВЕННОЕ ПРОИЗВОДСТВО</h3>
          </div>
          <p>Наличие собственных производственных цехов по изготовлению систем навесных вентилируемых фасадов, светопрозрачных алюминиевых конструкций, откосов, отливов, композитных и металлических кассет, декора из стеклофибробетона и клинкерной плитки позволяет оперативно поставлять на объект все необходимые элементы и способствует сокращению сроков монтажа.</p>
        </div>

      </div>
    </div>
  </section>

  <section class="contacts" id="contacts">
    <div class="contacts__head">
      <div class="contacts__line"></div>
      <h2 class="contacts__title">Карта проезда<br> в наш офис</h2>
      <div class="contacts__subtitle">Приезжайте в любой день, чтобы обсудить ваш заказ за чашечкой чая.<br> Будем рады знакомству!</div>
    </div>
    <div class="contacts__wrap">
      <div class="contacts__info">
        <ul class="contacts__list">

          <li class="contacts__list-item contacts__list-item--addr">
            <strong>Адрес офиса:</strong>
            <p>129110, город Москва, Напрудный переулок, дом 10 строение 2, этаж 2 комн 4</p>
          </li>

          <li class="contacts__list-item contacts__list-item--time">
            <strong>Режим работы:</strong>
            <p>пн-пт 9:00 - 19:00; сб 9:00 - 18:00<br> вс - выходной</p>
          </li>

          <li class="contacts__list-item contacts__list-item--tel">
            <strong>Звоните:</strong>
            <a href="tel:+74955102893">+7 (495) 510-28-93</a>
          </li>

          <li class="contacts__list-item contacts__list-item--mail">
            <strong>Почта для клиентов:</strong>
            <a href="mailto:gidromaster@gmail.com">info@ventalventa.com</a>
          </li>
        </ul>
      </div>
      <div class="contacts__map" id="YaMaps"></div>
    </div>
  </section>

  <footer class="footer">
    <div class="footer__wrapper">
      <a href="#" class="footer__logo">
        <img src="{% static 'main/img/logo.svg' %}" alt="">
      </a>
      <div class="footer__right">
        <div class="footer__contacts">
          <div class="footer__contacts-number">
            <span>Круглосуточно</span>
            <a href="tel:+74955102893" class="footer__contacts-tel">+7 (495) 510-28-93</a>
          </div>
          <button class="footer__call-back call-bt">Заказать звонок</button>
        </div>
        <nav class="footer__navigation">
          <a href="#fasad-system" class="footer__navigation-link scroll-link">Виды фасадов</a>
          <a href="#mounting" class="footer__navigation-link scroll-link">Монтаж</a>
          <a href="#contacts" class="footer__navigation-link scroll-link">Контакты</a>

          <button class="footer__navigation--btn">
              <img src="{% static 'main/img/icons/icon-nav.svg' %}" alt="">
          </button>
        </nav>
      </div>
    </div>

  </footer>

  <div class="call-popup mfp-hide white-popup-block" id="call-popups">
    <h2 class="call-popup__title">Заказать обратный звонок</h2>
    <p class="call-popup__paragraph">Введите имя и номер телефона.<br> C вами свяжется специалист и ответит на все возникшие вопросы.</p>
    <form class="call-popup__form">
      {% csrf_token %}
      <input name="Имя" required class="call-popup__form-input" type="text" placeholder="Введите имя">
      <input name="Номер телефона" required class="call-popup__form-input" type="tel" placeholder="Введите номер телефона">

{#      <script src='https://www.google.com/recaptcha/api.js'></script>#}
      <!-- Здесь менять sitekey для reCaptcha -->
{#      <div class="g-recaptcha recaptcha" data-sitekey="6LdRSRYUAAAAAFCqQ1aZnYfRGJIlAUMX3qkUWlcF"></div>#}
      <button class="call-popup__form-button">Заказать звонок</button>
    </form>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/page-scroll-to-id@1.5.8/jquery.malihu.PageScroll2id.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script>
        var csrftoken = '{{ csrf_token }}';
    </script>
  <script src="{% static 'main/js/common.js' %}"></script>
</body>
</html>