{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Document</title>

  <meta name="description" content="">
  <meta name="author" content="Serhii Mykulyn">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- <link rel="icon" type="image/png" href="./img/favicon.ico"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
  <link rel="stylesheet" href="{% static 'main/css/main.min.css' %}">

  <meta name="theme-color" content="#000">
</head>
<body>
  <section class="thanks">
    <div class="thanks__container">
      <h1>Ваша заявка принята, <span>Спасибо за доверие!</span></h1>
      <div class="subtitle">Предлагаем вам посетить <br>наши другие проекты:</div>
      <div class="our-project">
        <div class="our-project__item">
          <div class="our-project__item-head">
            <a href="#" class="our-project__logo">
              <img src="{% static 'main/img/our-project/miramor-logo.svg' %}" alt="">
            </a>
            <h2>услуги по монтажу<br> гранитного камня</h2>
          </div>
          <div class="our-project__link">
            <a href="http://mramordagranit.ru">
              <span><img src="{% static 'main/img/our-project/link-icon.svg' %}" alt=""></span> mramordagranit.ru</a>

          </div>
        </div>
        <div class="our-project__item">
          <div class="our-project__item-head">
            <a href="#" class="our-project__logo">
              <img src="{% static 'main/img/our-project/prof-logo.svg' %}" alt="">
            </a>
            <h2>вентилируемые<br> фасадные системы</h2>
          </div>
          <div class="our-project__link">
            <a href="http://ventalventa.ru">
              <span><img src="{% static 'main/img/our-project/link-icon.svg' %}" alt=""></span> ventalventa.ru</a>
          </div>
        </div>
        <div class="our-project__item">
          <div class="our-project__item-head">
            <a href="#" class="our-project__logo">
              <img src="{% static 'main/img/our-project/hydro-logo.svg' %}" alt="">
            </a>
            <h2>услуги по гидроизоляции<br> зданий, сооружений<br> и резервуаров</h2>
          </div>
          <div class="our-project__link">
            <a href="http://gidrotekhstroy.ru">
              <span><img src="{% static 'main/img/our-project/link-icon.svg' %}" alt=""></span> gidrotekhstroy.ru</a>
          </div>
        </div>
      </div>
    </div>
  </section>


</body>
</html>